<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>CaSTT Webservices Demo</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
        margin: 2em 1em;
        background: #eee;
        color: #333;
      }

      div {
        width: 600px;
        margin: auto;
        background: #fff;
        padding: 1em;
        border-bottom: 1px #ddd solid;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>CaSTT Webservices Demo</h1>
      <%= yield %>
    </div>
  </body>
</html>
